doctype html
html(lang="en")
	head
		include ./include/meta.jade
		link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")
		link(rel="stylesheet" type="text/css" href="assets/css/awnode.css")
		link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css')
		title Shipping | Feather Banner Flags
	body.woocommerce.woocommerce-page.shipping-page.bg-light
		include ./include/header.jade
		include ./pages/page-shipping.jade
		include ./include/footer.jade