.row-fluid.section-banner-bottom
	.container
		.col-sm-2.col-xs-12
			.icon-banner-bottom
				img.img-responsive(src="assets/img/icon/map-truck.png")
		.col-sm-7.col-xs-12
			.bottom-baner-text
				h2 FAST SHIPPING + ULTIMATE GUARANTEED
				p They came out exactly the way I wanted them to. So nice and cheaper than what we've previously been getting.
		.col-sm-3.col-xs-12
			.clearfix
				a.button-trans.pull-right.learn-call(href="#" title="..") LEARN MORE
					img(src="assets/img/icon/arrow-right.png")