footer.content-info
	.container
		.wrapper-gotop
			a#scrollTop.linkto(href="#basetop") #[i.fa.fa-angle-up.fa-2x]
		.wrapper-widget-footer.clearfix
			section.widget.col-sm-3.col-xs-12
				img.img-responsive.logo-bottom(src='assets/img/logo.png')
			section.widget.col-sm-3.col-xs-6
				h3 INFORMATION
				ul
					li #[a(href="#") About Us]
					li #[a(href="#") Customer Service]
					li #[a(href="#") New Collection]
					li #[a(href="#") Best Sellers]
					li #[a(href="#") Manufacturers]
					li #[a(href="#") Privacy policy]
					li #[a(href="#") Terms & condition]
					li #[a(href="#") Blog]
			section.widget.col-sm-3.col-xs-6
				h3 Customer Service
				ul
					li #[a(href="#") Search Terms]
					li #[a(href="#") Advanced Search]
					li #[a(href="#") Orders and Returns]
					li #[a(href="#") Contact Us]
					li #[a(href="#") RSS]
					li #[a(href="#") Help & FAQs]
					li #[a(href="#") Consultant]
					li #[a(href="#") Store Locations]
			section.widget.col-sm-3.col-xs-12
				h3.follow Stay Connected
				ul.sosmed-linked
					li #[a(href="#") #[i.fa.fa-facebook]]
					li #[a(href="#") #[i.fa.fa-twitter]]
					li #[a(href="#") #[i.fa.fa-instagram]]
					li #[a(href="#") #[i.fa.fa-pinterest]]
					li #[a(href="#") #[i.fa.fa-feed]]
				h3.follow Subscribe #[i in ] our news letter
				.input-group.fbf-subcriber
					form.subcribe-widget
						input.form-transparent.pull-left(type='text', placeholder='Enter Your Email Address')
						button.btn.btn-blue.pull-right(type='button') Subcribe
		.wrapper-copyright-footer
			.clearfix
				.col-sm-6.col-xs-12
					ul.list-card
						li #[img(src="assets/img/icon/cart/visa.png" alt="Visa")]
						li #[img(src="assets/img/icon/cart/master-card.png" alt="master card")]
						li #[img(src="assets/img/icon/cart/amex.png" alt="Amex")]
						li #[img(src="assets/img/icon/cart/discover.png" alt="Discover")]
				.col-sm-6-col-xs-12
					p.text-right ALL RIGHTS RESERVED. &copy; 2016. FEATHER BANNER FLAGS
	script(src="assets/js/core.js")
	script(src="assets/js/main.js")