.col-sm-3
	section.widget.widget-left
		.widget-category.widget-title.clearfix
			button.tog-cates
				i.fa.fa-list
			h3 Stock Items Category
		.bff-pul-listing.clearfix
			ul.category-listing
				li.dropdown-cat
					a.has-sub(href="/category-page.html") Large Feather Flags
					span.open-sub.pull-right +
					ul.sub-hidden(style="display:none;")
						li
							a(href="/category-page.html") American flag
						li.has-child
							a(href="/category-page.html") American flag
							span.open-sub.pull-right +
							ul.sub-hidden(style="display:none;")
								li
									a(href="/category-page.html") American
								li
									a(href="/category-page.html") American
								li
									a(href="/category-page.html") American
								li
									a(href="/category-page.html") American
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
				li.dropdown-cat
					a.has-sub(href="/category-page.html") Large Feather Flags
					span.open-sub.pull-right +
					ul.sub-hidden(style="display:none;")
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
				li.dropdown-cat
					a.has-sub(href="/category-page.html") Large Feather Flags
					span.open-sub.pull-right +
					ul.sub-hidden(style="display:none;")
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag
						li
							a(href="/category-page.html") American flag