.collapse.navbar-collapse.wrapper-menu#bs-fbf-navbar-collapse-1.in
	ul.nav
		li
			a(href='category-page.html') ALL PRODUCTS
		li.dropdown
			a.dropdown-toggle(href='stock-subcategory.html', data-toggle='dropdown')
				| Stock Items
				i.fa.fa-angle-down
			ul.dropdown-menu.mega-menu
				li.mega-menu-column
					ul
						li.inner-parent
							a(href='stock-subcategory.html') large Feather Flags #[button.btn-blue 16 subcategoriies} #[i.fa.fa-angle-right]
							ul.sub-inner-menu
								li #[a(href="stock-subcategory.html") American Flag]
								li #[a(href="stock-subcategory.html") Auto Dealerships(7)]
								li #[a(href="stock-subcategory.html") Auto Repair]
								li #[a(href="stock-subcategory.html") Car Wash]
								li #[a(href="stock-subcategory.html") Celular Dealers]
								li #[a(href="stock-subcategory.html") Event and Festival]
								li #[a(href="stock-subcategory.html") Furniture and Home Sale]
								li #[a(href="stock-subcategory.html") Holiday Sales]
								li #[a(href="#") Isurance]
								li #[a(href="#") Real Estate]
								li #[a(href="#") Open and Grand Opening]
								li #[a(href="#") Restaurant]
								li #[a(href="#") Sale Flags]
						li
							a(href='stock-subcategory.html') Real Estate Flags
						li
							a(href='stock-subcategory.html') Teardrop FLags
		li
			a(href='franchise.html') FRANCHISE
		li
			a(href='#pricing') customs
		li
			a(href='contact.html') Contact