.box-prod
	.preview
		img.discount-label(src="assets/img/label-discount.png")
		span.sale 10% OFF
		img.img-responsive(src="assets/img/flag.jpg" alt="...")
	.prod-name
		span Tune Up Feather Flag
		.price $ 15.00
	a.btn.btn-viewcart(href="single-product.html")
		i.fa.fa-shopping-cart
		span VIEW PRODUCT