.wrapper-box.clearfix.text-center
	.product-frame
		img.img-responsive(src="assets/img/content/287x392/1.jpg")
	.flash-title
		.clearfix
			h3 #[a(href="#" title="..") Feather Flags]
			p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
	.flash-button
		button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]