.wrapper-rate
	.clearfix.star-list
		.star-rating
			span.fa.fa-star
			span.fa.fa-star
			span.fa.fa-star
			span.fa.fa-star
		h4.user-title Jonathan Doe , #[span Lousiana]
		p They came out exactly the way I wanted them to. So nice and cheaper than what we've previously been getting.