.main-service
	.container
		.col-sm-3.col-xs-6
			.service.text-center
				img.img-responsive(src="../assets/img/service/service-1.png" alt="...")
				h4.title-service Fusce dapibus tellus ac
				p.desc-service Cursus commodo duis mollis est non commodo luctus, nisi erat porttitor.
		.col-sm-3.col-xs-6
			.service.text-center
				img.img-responsive(src="../assets/img/service/service-2.png" alt="...")
				h4.title-service Fusce dapibus tellus ac
				p.desc-service Cursus commodo duis mollis est non commodo luctus, nisi erat porttitor.
		.col-sm-3.col-xs-6
			.service.text-center
				img.img-responsive(src="../assets/img/service/service-3.png" alt="...")
				h4.title-service Fusce dapibus tellus ac
				p.desc-service Cursus commodo duis mollis est non commodo luctus, nisi erat porttitor.
		.col-sm-3.col-xs-6
			.service.text-center
				img.img-responsive(src="../assets/img/service/service-4.png" alt="...")
				h4.title-service Fusce dapibus tellus ac
				p.desc-service Cursus commodo duis mollis est non commodo luctus, nisi erat porttitor.
.clearfix