$body-font: Lato, serif;
$fbf-light: #fff;
$fbf-text-minor: #777777;
$fbf-light-maho: #f4f4f4;
$fbf-light-blue: #e2eeff;
$fbf-gray: #87878d;
$fbf-dark-gray: #53535b;
$fbf-dark: #404048;
$fbf-blue: #30a5ff;
$fbf-dark-blue: #1274bf;
$fbf-pink: #f2326e;
$fbf-box: #cccccc;
$fbf-cool-blue: #30a5ff;
$fbf-text-crash: #333333;
$fbf-button-page: #e0e0e0;
//hover
$fbf-dark-hover: #323238;
$fbf-blue-hover: #0090ff;