include ../include/slider.jade
include ../include/service-icon.jade
.row-fluid.section-lighting
	.container
		.wrapper-title-1
			h2.title-name Featured Products
		.wrapper-list-product
			.clearfix
				.col-sm-3
					.wrapper-box.clearfix.text-center
						.product-frame
							img.img-responsive(src="assets/img/content/287x392/1.jpg")
						.flash-title
							.clearfix
								h3 #[a(href="#" title="..") Feather Flags]
								p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
						.flash-button
							button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]
				.col-sm-3
					.wrapper-box.clearfix.text-center
						.product-frame
							img.img-responsive(src="assets/img/content/287x392/2.jpg")
						.flash-title
							.clearfix
								h3 #[a(href="#" title="..") Feather Flags]
								p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
						.flash-button
							button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]
				.col-sm-3
					.wrapper-box.clearfix.text-center
						.product-frame
							img.img-responsive(src="assets/img/content/287x392/3.jpg")
						.flash-title
							.clearfix
								h3 #[a(href="#" title="..") Teardrop Flags]
								p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
						.flash-button
							button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]
				.col-sm-3
					.wrapper-box.clearfix.text-center
						.product-frame
							img.img-responsive(src="assets/img/content/287x392/4.jpg")
						.flash-title
							.clearfix
								h3 #[a(href="#" title="..") Rectangular Flags]
								p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
						.flash-button
							button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]
				.col-sm-3
					.wrapper-box.clearfix.text-center
						.product-frame
							img.img-responsive(src="assets/img/content/287x392/5.jpg")
						.flash-title
							.clearfix
								h3 #[a(href="#" title="..") Stock Easy-up Tents]
								p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
						.flash-button
							button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]
				.col-sm-3
					.wrapper-box.clearfix.text-center
						.product-frame
							img.img-responsive(src="assets/img/content/287x392/6.jpg")
						.flash-title
							.clearfix
								h3 #[a(href="#" title="..") Yard Signs]
								p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
						.flash-button
							button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]
				.col-sm-3
					.wrapper-box.clearfix.text-center
						.product-frame
							.label-off
								img.discount-label(src="assets/img/content/287x392/label/label.png")
								span.sale 10% OFF
							img.img-responsive(src="assets/img/content/287x392/7.jpg")
						.flash-title
							.clearfix
								h3 #[a(href="#" title="..") Huge Auto Dealer]
								p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
						.flash-button
							button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]
				.col-sm-3
					.wrapper-box.clearfix.text-center
						.product-frame
							img.img-responsive(src="assets/img/content/287x392/8.jpg")
						.flash-title
							.clearfix
								h3 #[a(href="#" title="..") Custom Tents]
								p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor.
						.flash-button
							button.btn.btn-light.single_add_to_cart_button.button(alt="" type="submit") Shop Now #[i.fa.fa-shopping-cart]
.row-fluid.section-attribute
	.container
		.clearfix.wrapper-title.text-center
			h3.title-section Customize with Ease
			p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor
		.clearfix.attribute-content
			.col-sm-6.pull-right
				.clearfix.listing-fbf
					.col-xs-4.col-sm-2
						img.img-responsive(src="assets/img/icon/custom1.jpg")
					.col-xs-8.col-sm-10
						h3 Upload Your Artwork
						p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor ursus commodo duis mollis est non commodo luctus. Nisi erat porttitor #[a(href="" title="..") READ MORE]
				.clearfix.listing-fbf
					.col-xs-4.col-sm-2
						img.img-responsive(src="assets/img/icon/custom2.jpg")
					.col-xs-8.col-sm-10
						h3 Let us help you design it.
						p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor ursus commodo duis mollis est non commodo luctus. Nisi erat porttitor #[a(href="" title="..") READ MORE]
.row-fluid.liner-space
.row-fluid.section-rating
	.container
		.clearfix.wrapper-title.text-center
			h3.title-section Customer Reviews
			p Cursus commodo duis mollis est non commodo luctus. Nisi erat porttitor
		.wrapper-recent-rate
			.clearfix
				.col-sm-4
					.wrapper-rate
						.clearfix.star-list
							.star-rating
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
							h4.user-title Jonathan Doe , #[span Lousiana]
							p They came out exactly the way I wanted them to. So nice and cheaper than what we've previously been getting.
				.col-sm-4
					.wrapper-rate
						.clearfix.star-list
							.star-rating
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
							h4.user-title Jean Doe , #[span Lousiana]
							p They came out exactly the way I wanted them to. So nice and cheaper than what we've previously been getting.
				.col-sm-4
					.wrapper-rate
						.clearfix.star-list
							.star-rating
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
							h4.user-title Christian Fuchs , #[span Lousiana]
							p They came out exactly the way I wanted them to. So nice and cheaper than what we've previously been getting.
				.col-sm-4
					.wrapper-rate
						.clearfix.star-list
							.star-rating
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
							h4.user-title Kevin Doe , #[span Lousiana]
							p They came out exactly the way I wanted them to. So nice and cheaper than what we've previously been getting.
				.col-sm-4
					.wrapper-rate
						.clearfix.star-list
							.star-rating
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
							h4.user-title Nathalie Doe , #[span Lousiana]
							p They came out exactly the way I wanted them to. So nice and cheaper than what we've previously been getting.
				.col-sm-4
					.wrapper-rate
						.clearfix.star-list
							.star-rating
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
								span.fa.fa-star
							h4.user-title Noel Doe , #[span Lousiana]
							p They came out exactly the way I wanted them to. So nice and cheaper than what we've previously been getting.
include ../include/fast-shipping.jade