.main-head.bg-light
	.container
		a.back-arrow.pull-left(href="#")
			i.fa.fa-arrow-circle-left
			span BACK TO FRANCHISE CATEGORIES
		ol.breadcrumb.dealership.pull-right.bg-light
			li.active.blue AT&T CELLULER PHONE
			li
				a(href="#") BANNER
.container
	h3.product_title.entry-title FEATHER FLAGS - Auto Dealerships - Tire
	.row
		.col-sm-6
			.product.image
				.woocommerce-main-image.zoom
					img.attachment-shop_single.size-shop_single.wp-post-image.img-responsive#image(src="assets/img/flag-single/flag-at&t.jpg" alt="...")
					i.fa.fa-search
				#image-additional-carousel
					.image-additional.olw-carousel.owl-carousel-play#image-additional(data-ride="owlcarousel")
						.owl-carousel.owl-theme#image-additional-carousel(data-slide="3" data-pagination="false" data-navigation="true")
							.owl-wrapper-outer.autoHeight
								.row.owl-wrapper
									.col-sm-4.owl-item
										a.imagezoom.first(href="#" data-image="")
											img.attachment-shop_thumbnail.size-shop_thumbnail.img-responsive(src="assets/img/flag-single/thumb-small.jpg" alt="" data-zoom="")
									.col-sm-4.owl-item
										a.imagezoom(href="#" data-image="")
											img.attachment-shop_thumbnail.size-shop_thumbnail.img-responsive(src="assets/img/flag-single/thumb-small.jpg" alt="" data-zoom="")
									.col-sm-4.owl-item
										a.imagezoom(href="#" data-image="")
											img.attachment-shop_thumbnail.size-shop_thumbnail.img-responsive(src="assets/img/flag-single/thumb-small.jpg" alt="" data-zoom="")
		.col-sm-6
			.custom-flag
				h4.text-center Select Your Options
				.custom-flag-inner
					form.fbf-form
						.form-group.clearfix
							label 1. Select Size
							select
								option(name="size" value="10.2x2.7") 10,2' x 2,7'
								option(name="size" value="11x3") 11' x 3'
						.form-group.clearfix
							label 2. Add Aluminum pole kit
							select
								option(name="kit" value="yes") Yes
								option(name="kit" value="no") No
						.form-group.clearfix
							label 3. Add Tie Down Clip
							select
								option(name="clip" value="yes") Yes
								option(name="clip" value="no") No
						.form-group.clearfix
							label 4. Upgrade to travel package
							select
								option(name="upgrade" value="yes") Yes
								option(name="upgrade" value="no") No
						.form-group.clearfix
							label 5. Add mounting hardware
							.row
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Ground Spike
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware WheelBase
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware X Stand
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Collapsible XStand
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Drill Spike
										.price ($14.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Wheel Base Truck
										.price ($22.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Angel Mount
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Pole Mount
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Bolt on Wall Mount
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Bolt on Roof Mount
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Tow Hitch Mount
										.price ($9.99)
								.col-sm-3.product-hardware
									input.pull-left(type="radio" name="mounting")
									img.pull-right.img-responsive(src="assets/img/flag-single/mounting-hardware.jpg")
									.clearfix
									.text-center
										.name-hardware Ground Spike
										.price ($9.99)
						.form-group.cart(method="post" enctype="multipart/form-data")
							.row.margin-cart
								.col-sm-2.padding-cart
									.quantity
										label Quantity
										input.input-text.qty.text(type="number" step="1" min="1" max name="quantity" value="1" title="Qtc" size="4")
								.col-sm-3.padding-cart
									label Your Price
									.total-your-price $175.99 each
								.col-sm-3.padding-cart
									input(type="hidden" name="add-to-cart" value="")
									button.single_add_to_cart_button.button.alt.btn.btn-blue(type="submit") ADD TO CART
								.col-sm-4.padding-cart
									.share
										a(href="#")
											i.fa.fa-facebook
										a(href="#")
											i.fa.fa-twitter
										a(href="#")
											i.fa.fa-pinterest-p
										a(href="#")
											i.fa.fa-envelope
.bg-light.top-sell
	.container
		.title-desc.clearfix
			h3 YOU MAY ALSO LIKE
		.produck-list
			.col-aw
				include ../include/prod-box-subcategory-nolabel.jade
			.col-aw
				include ../include/prod-box-subcategory-nolabel.jade
			.col-aw
				include ../include/prod-box-subcategory-nolabel.jade
			.col-aw
				include ../include/prod-box-subcategory-nolabel.jade
			.col-aw
				include ../include/prod-box-subcategory-nolabel.jade
include ../include/fast-shipping.jade