.main-head.bg-light
	.container
		ol.breadcrumb.dealership.pull-right.bg-light
			li
				a(href="#") HOME
			li.active.blue SHIPPING
.row-fluid.section-banner-bottom.bg-pict
	.container
		.col-sm-12
			img.img-responsive(src="assets/img/truck-shipping.png")
			h2.text-center FAST SHIPPING + ULTIMATE GUARANTEED
.container.content-ship
	.row
		.col-sm-1
			img.icon-shipping(src="assets/img/icon/truck-shipping.png")
		.col-sm-5
			h3 Shipping
			p All original shipments are made via FedEx Ground. All orders placed on our website (for products that are in-stock) are shipped within 2 business days of the time the order is placed. Upon shipment, the customer will be emailed a shipping confirmation which will include the shipments tracking number. It is the sole responsiblity of the customer to monitor the shipment of the order and to be sure the "ship to" address provided, is accurate and able to receive the shipment safely.
			p If the package is left at the customers door, the customer takes possesion and responsiblity for the product, once it is delivered. If you have any questions regarding the shipping of our products please contact  our office. directly at (866) 586-3888.
		.col-sm-1
			img.icon-shipping(src="assets/img/icon/time-shipping.png")
		.col-sm-5
			h3 Time
			p If your proofs are approved by 3:00 pm Central during a regular business day (M-F), Standard 13 oz Banners will ship the next business day. If approved after 3:00 pm, they will ship in two business days.
			p If we receive your proof approval before 3:00 pm CST M-F, the following products all ship within 1-2 business days.
			.list-flag
				p Heavy Duty Banners
				p Mesh Banners
				p High-Res Banners
				p Adhesive Banners
				p Canvas Banners
				p Perforated Window Signs
				p TriStand Banners
				p All Retractable Banners
				p Vinyl Posters
				p Poster Hanging Kits
				p Poster Rail Mounting Kits
				p Dual Track Banner Stands
				p Zont Banner Stands
				p All Stands and Accessories