.main-service{
	padding: 32px 0;
	.service{
		margin: 8px 0;
		img{
			margin: auto;
			width: 70%;
		}
		.title-service{
			font-weight: bold;
			text-transform: uppercase;
			margin: 16px 0;
		}
		.desc-service{
			margin: 4px 0;
		}
	}
}
@media(max-width : 800px){
	.service{
		font-size: 10px;
		.title-service{
			font-size: 12px;
		}
	}
}